* {
    font-family: Arial, sans-serif;
    color: #C2C2C2;
    transition: all .1s ease-in;
    font-weight: bold;
    box-sizing: border-box;
}

body {
    background-color: #F1F1F1;
}

main {
    padding-top: 40px;
}

header {
    width: 80%;
    position: relative;
    margin: 0 auto;
}

textarea {
    font-size: 95px;
    outline: none;
    border: none;
    background-color: #F1F1F1;
    resize: none;
    color: #000;
    display: inline-block;
}

textarea:focus {
    color: #ec5a62;
}

textarea::placeholder {
    color: #C2C2C2;
}

button {
    position: absolute;
    width: 100px;
    height: 100px;
    background: none;
    border: none;
    right: 0;
    top: 10px;
}

button:hover {
    width: 110px;
    height: 110px;
}

div {
    margin-top: 40px;
    width: 100%;
    padding: 0 10%;
}

.bar {
    width: 30%;
    display: inline-block;
}

.bar:nth-child(2) {
    margin: 0 3%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: list-item;
}

li:hover {
    background-color: rgba(118,117,128,0.1);
    color: #ec5a62;
}

a {
    text-decoration: none;
    border-radius: 5px;
    background: rgba(118,117,128,0.05);
    display: block;
    padding: 18px;
    margin: 8px 0;
}

img {
    vertical-align: middle;
    display: inline-block;
    margin: 0 10px 0 0;
}

.image {
    border-radius: 50%;
}

h3 {
    vertical-align: middle;
    display: inline-block;
    font-weight: 700;
}