aside {
    width: 30%;
    background: #ccbbdd;
    margin: 0 auto;
    position: relative;
}

aside:before {
    content: '';
    display: block;
    padding-top: 100%;
}

nav {
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
    width: 100%;
}

.square {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 0;
    border: 1px solid #696969;
}

li[class^="box"] {
    display: inline-block;
    width: 12.5%;
    height: 12.5%;
}

.box1:nth-child(even) {
    background-color: #696969;
}

.box2:nth-child(odd) {
    background-color: #696969;
}

h1 {
    width: 80%;
    height: 80%;
    background-color: red;
    position: relative;
    left: 10%;
    top: 10%;
    border-radius: 50%;
}